<!-- Se hereda el contenido del archivo base.html-->
{% extends "boceto/base.html" %}

<!-- Se carga la carpeta static -->
{% load static %}

<!-- Empieza el contenido de esta página-->
{% block content %}

    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>Nuestros Colaboradores</h2>
                <p>Nuestros Colaboradores son un valuarte fundamental de nuestra organización y nos preocupamos por darles equipos de protección, 
                    afiliación al seguro social, agasajos, becas y demás beneficios de ley para su desarrollo laboral y personal.</p>
            </header>

            <!-- Contenido -->
                <section id="content">
                    <a href="#" class="image fit"><img src="{% static 'boceto/images/colaboradores.png' %}" alt="" /></a>
                </section>
        </div>
    </div>

{% endblock %}