{% extends "boceto/base.html" %}
{% load static %}

{% block content %}
<br>
<br>
    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>Quienes somos</h2>
                <p>Somos una organización de pequeños productores de banano asentada en la zona sur de Ecuador. El cultivo del banano es la principal fuente de ingresos de nuestros socios</p>
            </header>

            <!-- Contenido -->
                <section id="content">
                    <a href="#" class="image fit"><img src="{% static 'boceto/images/socios-1024x581.jpeg' %}" alt="" /></a>
                    <h3>FUNDACIÓN: 11 DE SEP. DEL 2017</h3>
                    <p>FUNDADA POR 12 SOCIOS Y ACTUALMENTE SOMOS 25 SOCIOS PRODUCTORES DE BANANO DE LOS CUALES SON 14 ORGÁNICOS Y 11 CONVENCIONALES.</p>
                    <p>Nuestra fruta es comercializada en varios países europeos tales como Alemania, Italia, Francia y contamos con Certificación Fair Trade, Orgánica, Global Gap, Y buenas Practicas de manufactura.</p>
                    
                </section>
            
                <header class="major">
                    <h2>Misión</h2>
                    <p>Buscamos satisfacer las necesidades de los socios y socias a través de mejores labores culturales apuntando a mejorar la productividad, mejores alternativas de mercado en lo referente a la comercialización. Brindamos una atención esmerada y oportuna con responsabilidad en el cumplimiento de compromisos adquiridos. Ofrecemos a nuestros empleados y empleadas un ambiente laboral estable con perspectivas de crecimiento y desarrollo personal. Asumimos el compromiso de promover de que cada una de nuestras actividades genere un impacto positivo y protejamos el medio ambiente.</p>
                </header>

                <header class="major">
                    <h2>Visión</h2>
                    <p>Nuestra cooperativa es auto-sostenible de pequeños productores y productoras agrícolas, en la que piensen los compradores cuando necesiten nuestros productos que son entregados con calidad y responsabilidad socialización agrícola sostenible de pequeños productores y productoras, pero con un enfoque empresarial que presta servicios de producción y comercialización, ofertando productos de calidad.</p>
                </header>

        </div>
    </div>
{% endblock %}